NODE_ENV="deb | prod | test | ..."
PROJECT_NAME="Add project name"
DEBUG=DB*

PGUSER="Add db user"
PGPASSWORD="Add db password"
PGHOST="Add db host"
PGPORT="Add db port"
PGDATABASE="Add db name"

SQLITE_FILE="./path/sqlite.db"
